name: Build ESP32-S3

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2

      - name: Update core index
        run: arduino-cli core update-index

      - name: Install ESP32 core
        run: arduino-cli core install esp32:esp32

      - name: Compile sketch
        run: |
          mkdir -p build
          arduino-cli compile --fqbn esp32:esp32:esp32s3 --output-dir ./lib

      - name: Upload bin artifact
        uses: actions/upload-artifact@v4
        with:
          name: esp32s3-bin
          path: build/*.bin
