name: Build ESP32-S3

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v2
    - name: Install ESP32 Core
      run: arduino-cli core update-index && arduino-cli core install esp32:esp32

    - name: Compile
      run: arduino-cli compile --fqbn esp32:esp32:esp32s3 ./lib
