name: Build ESP32-S3

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2
        with:
          version: latest

      - name: Update index
        run: arduino-cli core update-index

      - name: Install ESP32 core
        run: arduino-cli core install esp32:esp32

      - name: Compile project
        run: arduino-cli compile --fqbn esp32:esp32:esp32s3 --output-dir build .

      - name: Upload BIN
        uses: actions/upload-artifact@v4
        with:
          name: esp32s3-bin
          path: build/*.bin
